In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
teis_month = pd.read_excel('../data/TEIS Referral Data for NSS Compiled Monthly.xlsx')
teis_month.shape

(113256, 34)

In [3]:
teis_ref = pd.read_excel('../data/TEIS Referral Data for NSS.xlsx')
teis_ref.shape

(96580, 17)

In [15]:
teis_month = teis_month.rename(columns = {'POE': 'poe', 'Child ID':'child_id', 'DOB':'dob', 'County Name':'county_name', 'County SES':'county_ses', 'Child Phase':'child_phase', 'Active':'active', 'Service Coordinator':'service_coordinator', 'Notification/ Referral Date':'notification_referral_date', 'Parent Consent Date':'parent_consent_date', 'Referral Source Type Name':'referral_source_type', 'Initial Eligibility':'initial_eligibility', 'Initial Eligibility Date':'initial_eligibility_date', 'Initial IFSP Date':'initial_ifsp_date', 'Latest IFSP Date':'latest_ifsp_date', 'Exit Reason':'exit_reason', 'Exit Date':'exit_date', 'Fiscal Year': 'fiscal_year', 'Notification Month':'notification_month', 'Tenn Region':'tenn_region', 'Referral Count':'referral_count', 'Evaluation Count':'evaluation_count', 'Eligibility Count':'eligibility_count', 'IFSP Count':'ifsp_count', 'Service Coordinator Counter':'service_coord_counter', 'Fiscal Year.1':''})
teis_month.head()

,poe,child_id,dob,county_name,county_ses,child_phase,active,service_coordinator,notification_referral_date,parent_consent_date,...,service_coord_counter,,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1,2016,1,NaN,NaN,2017-08-09,NaN,1,Qtr 1,NaN
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1,2016,1,NaN,NaN,2016-07-31,1.0,1,Qtr 1,NaN
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1,2016,1,NaN,NaN,2019-02-05,NaN,1,Qtr 1,NaN
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1,2016,1,NaN,NaN,2018-12-06,NaN,1,Qtr 1,NaN
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1,2016,1,NaN,NaN,2018-04-18,NaN,1,Qtr 1,NaN

In [5]:
teis_ref = teis_ref.rename(columns = {'POE':'poe', 'Child ID':'child_id', 'DOB':'dob', 'County Name':'county_name', 'County SES ': 'county_ses', 'Child Phase':'child_phase', 'Active':'active', 'Service Coordinator':'service_coordinator', 'Notification Date':'notification_referral_date', 'Parent Consent Date':'parent_consent_date', 'Referral Source Type Name':'referral_source_type', 'Initial Eligibility':'initial_eligibility', 'Initial Eligibility Date':'initial_eligibility_date', 'Initial IFSP Date':'initial_ifsp_date', 'Latest IFSP Date':'latest_ifsp_date', 'Exit Reason':'exit_reason', 'Exit Date':'exit_date'})
teis_ref.head()

,poe,child_id,dob,county_name,county_ses,child_phase,active,service_coordinator,notification_referral_date,parent_consent_date,referral_source_type,initial_eligibility,initial_eligibility_date,initial_ifsp_date,latest_ifsp_date,exit_reason,exit_date
0,ET,411812,2016-12-14,Blount,Transitional,Notification,I,Charity Decker,2016-12-16,NaT,DCS,NaN,NaT,NaT,NaT,Unable to contact,2016-12-29
1,ET,417398,2015-04-06,Knox,Transitional,Eligibility,I,Jackie Campbell,2017-04-24,2017-05-02,Parent,Ineligible,2017-05-16,NaT,NaT,Ineligible for Part C,2017-05-16
2,ET,419400,2016-03-04,Roane,Transitional,Notification,I,Kelly Brackney,2017-06-06,NaT,DCS,NaN,NaT,NaT,NaT,Parent decline,2017-06-30
3,ET,397571,2015-05-11,Knox,Transitional,Eligibility,I,Wendy Burton,2017-05-24,2017-06-13,Other,Ineligible,2017-06-16,NaT,NaT,Ineligible for Part C,2017-06-16
4,ET,404648,2015-09-23,Knox,Transitional,IFSP,I,Sarah Scott,2016-07-18,2016-07-28,Other,Eligible,2016-08-01,2016-08-16,2018-07-24,618 - Part B eligibility not determined,2018-09-21

### another way to rename columns
teis_monthly.columns = [
    col.strip().lower().replace(' ', '_').replace('.', '_') 
    for col in 
    teis_monthly.columns]
teis_monthly.dtypes

In [6]:
type(teis_ref)

pandas.core.frame.DataFrame

In [7]:
## cleaning teis_month

In [8]:
clean_teis_month = teis_month.drop(columns = ['Fiscal Year', 'Notification Month', 'Tenn Region', 'Referral Count','Evaluation Count', 'Eligibility Count', 'IFSP Count', 'Service Coordinator Counter','Fiscal Year.1', 'Child Count', '2012 Child Count', '2013 Child Count', 'third DOB', 'Late Referral', 'Qtr', 'Referral Source Category', ' QTR '])
clean_teis_month.head()

,poe,child_id,dob,county_name,county_ses,child_phase,active,service_coordinator,notification_referral_date,parent_consent_date,referral_source_type,initial_eligibility,initial_eligibility_date,initial_ifsp_date,latest_ifsp_date,exit_reason,exit_date
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,Foster Parent,Eligible,2016-07-29 00:00:00,NaN,NaN,NaN,NaN
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,DCS,NaN,NaN,NaN,NaN,Referral less than 45 days,2016-07-01 00:00:00
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,DCS,Eligible,2016-08-01 00:00:00,NaN,NaN,NaN,NaN
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,PCP,Eligible,2016-08-05 00:00:00,2016-08-10 00:00:00,2016-08-10 00:00:00,NaN,NaN
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,Parent,Eligible,2016-07-27 00:00:00,2016-07-28 00:00:00,2016-07-28 00:00:00,NaN,NaN

In [9]:
#group by

In [10]:
teis_month_sum = teis_month.groupby('Fiscal Year.1').sum() ##use brackets after the Fiscal year 
teis_month_sum.head()

,child_id,Referral Count,Evaluation Count,Eligibility Count,IFSP Count,Service Coordinator Counter,Child Count,2012 Child Count,2013 Child Count,Late Referral,Qtr,Referral Source Category
Fiscal Year.1,,,,,,,,,,,,
2016,6768224152,16498,8500.0,4911.0,1152.0,16498,16498,0.0,0.0,410.0,41674,0.0
2017,7613327935,17818,8707.0,5075.0,875.0,17818,17818,0.0,0.0,457.0,45780,0.0
2018,8999239011,19997,12296.0,8956.0,1616.0,19997,19997,0.0,0.0,530.0,50842,0.0
2019,8961784353,18983,9465.0,6491.0,995.0,18983,18983,0.0,0.0,462.0,46115,0.0
2020,10228814997,20751,11036.0,8262.0,2060.0,20751,20751,0.0,0.0,487.0,52837,0.0

In [11]:
## concat and merging merging tables

In [12]:
teis_merge = pd.merge(clean_teis_month, teis_ref, how='outer')

ValueError: You are trying to merge on object and datetime64[ns] columns. If you wish to proceed you should use pd.concat

In [13]:
teis_concat = pd.concat([teis_month, teis_ref])
teis_concat

,poe,child_id,dob,county_name,county_ses,child_phase,active,service_coordinator,notification_referral_date,parent_consent_date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1.0,2016.0,1.0,NaN,NaN,2017-08-09,NaN,1.0,Qtr 1,NaN
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2016-07-31,1.0,1.0,Qtr 1,NaN
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1.0,2016.0,1.0,NaN,NaN,2019-02-05,NaN,1.0,Qtr 1,NaN
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1.0,2016.0,1.0,NaN,NaN,2018-12-06,NaN,1.0,Qtr 1,NaN
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1.0,2016.0,1.0,NaN,NaN,2018-04-18,NaN,1.0,Qtr 1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96575,UC,519094,2020-04-10,Macon,Transitional,Eligibility,I,Sherry Roberts-DS,2022-01-12,2022-01-19,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96576,UC,528253,2020-09-12,Sumner,Competitive,IFSP,A,Taylor Lee,2022-05-06,2022-05-11,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96577,UC,525460,2019-08-27,Sumner,Competitive,Notification,I,Sherry Roberts-DS,2022-03-29,NaT,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96578,UC,528535,2022-02-08,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,2022-05-11,2022-05-27,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96579,UC,514216,2021-02-04,Sumner,Competitive,IFSP,I,Dawn Reed,2021-11-05,2021-11-10,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [14]:
teis_concat.reset_index()
teis_concat = teis_concat.reset_index(drop=True)
teis_concat

,poe,child_id,dob,county_name,county_ses,child_phase,active,service_coordinator,notification_referral_date,parent_consent_date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1.0,2016.0,1.0,NaN,NaN,2017-08-09,NaN,1.0,Qtr 1,NaN
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2016-07-31,1.0,1.0,Qtr 1,NaN
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1.0,2016.0,1.0,NaN,NaN,2019-02-05,NaN,1.0,Qtr 1,NaN
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1.0,2016.0,1.0,NaN,NaN,2018-12-06,NaN,1.0,Qtr 1,NaN
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1.0,2016.0,1.0,NaN,NaN,2018-04-18,NaN,1.0,Qtr 1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209831,UC,519094,2020-04-10,Macon,Transitional,Eligibility,I,Sherry Roberts-DS,2022-01-12,2022-01-19,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
209832,UC,528253,2020-09-12,Sumner,Competitive,IFSP,A,Taylor Lee,2022-05-06,2022-05-11,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
209833,UC,525460,2019-08-27,Sumner,Competitive,Notification,I,Sherry Roberts-DS,2022-03-29,NaT,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
209834,UC,528535,2022-02-08,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,2022-05-11,2022-05-27,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
209835,UC,514216,2021-02-04,Sumner,Competitive,IFSP,I,Dawn Reed,2021-11-05,2021-11-10,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [ ]:
teis_concat.groupby(['poe', 'fiscal_year'])['child_id'].ununique()