In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
teis_month = pd.read_excel('../data/TEIS Referral Data for NSS Compiled Monthly.xlsx')
teis_month.shape

(113256, 34)

In [3]:
teis_ref = pd.read_excel('../data/TEIS Referral Data for NSS.xlsx')
teis_ref.shape

(96580, 17)

In [4]:
teis_month = teis_month.rename(columns = {'POE': 'poe', 'Child ID':'child_id', 'DOB':'dob', 'County Name':'county_name', 'County SES':'county_ses', 'Child Phase':'child_phase', 'Active':'active', 'Service Coordinator':'service_coordinator', 'Notification/ Referral Date':'notification_referral_date', 'Parent Consent Date':'parent_consent_date', 'Referral Source Type Name':'referral_source_type', 'Initial Eligibility':'initial_eligibility', 'Initial Eligibility Date':'initial_eligibility_date', 'Initial IFSP Date':'initial_ifsp_date', 'Latest IFSP Date':'latest_ifsp_date', 'Exit Reason':'exit_reason', 'Exit Date':'exit_date', 'Fiscal Year': 'fiscal_year', 'Notification Month':'notification_month', 'Tenn Region':'tenn_region', 'Referral Count':'referral_count', 'Evaluation Count':'evaluation_count', 'Eligibility Count':'eligibility_count', 'IFSP Count':'ifsp_count', 'Service Coordinator Counter':'service_coord_counter', 'Fiscal Year.1':'fiscal_year.1', 'Child Count':'child_count', '2012 Child Count':'2012_child_count', '2013 Child Count':'2013_child_count', 'third DOB':'third_dob', 'Late Referral':'late_referral', 'Qtr':'Qtr', 'QTR':'QTR', 'Referral Source Category':'referral_source_category' })
teis_month.head()

,poe,child_id,dob,county_name,county_ses,child_phase,active,service_coordinator,notification_referral_date,parent_consent_date,...,service_coord_counter,fiscal_year.1,child_count,2012_child_count,2013_child_count,third_dob,late_referral,Qtr,QTR,referral_source_category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1,2016,1,NaN,NaN,2017-08-09,NaN,1,Qtr 1,NaN
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1,2016,1,NaN,NaN,2016-07-31,1.0,1,Qtr 1,NaN
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1,2016,1,NaN,NaN,2019-02-05,NaN,1,Qtr 1,NaN
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1,2016,1,NaN,NaN,2018-12-06,NaN,1,Qtr 1,NaN
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1,2016,1,NaN,NaN,2018-04-18,NaN,1,Qtr 1,NaN

In [5]:
teis_ref = teis_ref.rename(columns = {'POE':'poe', 'Child ID':'child_id', 'DOB':'dob', 'County Name':'county_name', 'County SES ': 'county_ses', 'Child Phase':'child_phase', 'Active':'active', 'Service Coordinator':'service_coordinator', 'Notification Date':'notification_referral_date', 'Parent Consent Date':'parent_consent_date', 'Referral Source Type Name':'referral_source_type', 'Initial Eligibility':'initial_eligibility', 'Initial Eligibility Date':'initial_eligibility_date', 'Initial IFSP Date':'initial_ifsp_date', 'Latest IFSP Date':'latest_ifsp_date', 'Exit Reason':'exit_reason', 'Exit Date':'exit_date'})
teis_ref.head()

,poe,child_id,dob,county_name,county_ses,child_phase,active,service_coordinator,notification_referral_date,parent_consent_date,referral_source_type,initial_eligibility,initial_eligibility_date,initial_ifsp_date,latest_ifsp_date,exit_reason,exit_date
0,ET,411812,2016-12-14,Blount,Transitional,Notification,I,Charity Decker,2016-12-16,NaT,DCS,NaN,NaT,NaT,NaT,Unable to contact,2016-12-29
1,ET,417398,2015-04-06,Knox,Transitional,Eligibility,I,Jackie Campbell,2017-04-24,2017-05-02,Parent,Ineligible,2017-05-16,NaT,NaT,Ineligible for Part C,2017-05-16
2,ET,419400,2016-03-04,Roane,Transitional,Notification,I,Kelly Brackney,2017-06-06,NaT,DCS,NaN,NaT,NaT,NaT,Parent decline,2017-06-30
3,ET,397571,2015-05-11,Knox,Transitional,Eligibility,I,Wendy Burton,2017-05-24,2017-06-13,Other,Ineligible,2017-06-16,NaT,NaT,Ineligible for Part C,2017-06-16
4,ET,404648,2015-09-23,Knox,Transitional,IFSP,I,Sarah Scott,2016-07-18,2016-07-28,Other,Eligible,2016-08-01,2016-08-16,2018-07-24,618 - Part B eligibility not determined,2018-09-21

### another way to rename columns
teis_monthly.columns = [
    col.strip().lower().replace(' ', '_').replace('.', '_') 
    for col in 
    teis_monthly.columns]
teis_monthly.dtypes

In [6]:
type(teis_ref)

pandas.core.frame.DataFrame

In [7]:
## cleaning teis_month

In [8]:
clean_teis_month = teis_month.drop(columns = ['fiscal_year', 'notification_month', 'tenn_region', 'referral_count','evaluation_count', 'eligibility_count', 'ifsp_count', 'service_coord_counter','fiscal_year.1', 'child_count', '2012_child_count', '2013_child_count', 'third_dob', 'late_referral', 'Qtr', 'referral_source_category', ' QTR '])
clean_teis_month.head()

,poe,child_id,dob,county_name,county_ses,child_phase,active,service_coordinator,notification_referral_date,parent_consent_date,referral_source_type,initial_eligibility,initial_eligibility_date,initial_ifsp_date,latest_ifsp_date,exit_reason,exit_date
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,Foster Parent,Eligible,2016-07-29 00:00:00,NaN,NaN,NaN,NaN
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,DCS,NaN,NaN,NaN,NaN,Referral less than 45 days,2016-07-01 00:00:00
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,DCS,Eligible,2016-08-01 00:00:00,NaN,NaN,NaN,NaN
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,PCP,Eligible,2016-08-05 00:00:00,2016-08-10 00:00:00,2016-08-10 00:00:00,NaN,NaN
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,Parent,Eligible,2016-07-27 00:00:00,2016-07-28 00:00:00,2016-07-28 00:00:00,NaN,NaN

##group by

In [10]:
teis_month_sum = teis_month.groupby('fiscal_year.1').sum() ##use brackets after the Fiscal year 
teis_month_sum.head()

,child_id,referral_count,evaluation_count,eligibility_count,ifsp_count,service_coord_counter,child_count,2012_child_count,2013_child_count,late_referral,Qtr,referral_source_category
fiscal_year.1,,,,,,,,,,,,
2016,6768224152,16498,8500.0,4911.0,1152.0,16498,16498,0.0,0.0,410.0,41674,0.0
2017,7613327935,17818,8707.0,5075.0,875.0,17818,17818,0.0,0.0,457.0,45780,0.0
2018,8999239011,19997,12296.0,8956.0,1616.0,19997,19997,0.0,0.0,530.0,50842,0.0
2019,8961784353,18983,9465.0,6491.0,995.0,18983,18983,0.0,0.0,462.0,46115,0.0
2020,10228814997,20751,11036.0,8262.0,2060.0,20751,20751,0.0,0.0,487.0,52837,0.0

In [11]:
## concat and merging merging tables

In [12]:
#teis_merge = pd.merge(clean_teis_month, teis_ref, how='outer')

ValueError: You are trying to merge on object and datetime64[ns] columns. If you wish to proceed you should use pd.concat

In [13]:
teis_concat = pd.concat([teis_month, teis_ref])
teis_concat

,poe,child_id,dob,county_name,county_ses,child_phase,active,service_coordinator,notification_referral_date,parent_consent_date,...,service_coord_counter,fiscal_year.1,child_count,2012_child_count,2013_child_count,third_dob,late_referral,Qtr,QTR,referral_source_category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1.0,2016.0,1.0,NaN,NaN,2017-08-09,NaN,1.0,Qtr 1,NaN
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2016-07-31,1.0,1.0,Qtr 1,NaN
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1.0,2016.0,1.0,NaN,NaN,2019-02-05,NaN,1.0,Qtr 1,NaN
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1.0,2016.0,1.0,NaN,NaN,2018-12-06,NaN,1.0,Qtr 1,NaN
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1.0,2016.0,1.0,NaN,NaN,2018-04-18,NaN,1.0,Qtr 1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96575,UC,519094,2020-04-10,Macon,Transitional,Eligibility,I,Sherry Roberts-DS,2022-01-12,2022-01-19,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96576,UC,528253,2020-09-12,Sumner,Competitive,IFSP,A,Taylor Lee,2022-05-06,2022-05-11,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96577,UC,525460,2019-08-27,Sumner,Competitive,Notification,I,Sherry Roberts-DS,2022-03-29,NaT,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96578,UC,528535,2022-02-08,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,2022-05-11,2022-05-27,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96579,UC,514216,2021-02-04,Sumner,Competitive,IFSP,I,Dawn Reed,2021-11-05,2021-11-10,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [14]:
teis_concat.reset_index()
teis_concat = teis_concat.reset_index(drop=True)
teis_concat

,poe,child_id,dob,county_name,county_ses,child_phase,active,service_coordinator,notification_referral_date,parent_consent_date,...,service_coord_counter,fiscal_year.1,child_count,2012_child_count,2013_child_count,third_dob,late_referral,Qtr,QTR,referral_source_category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1.0,2016.0,1.0,NaN,NaN,2017-08-09,NaN,1.0,Qtr 1,NaN
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2016-07-31,1.0,1.0,Qtr 1,NaN
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1.0,2016.0,1.0,NaN,NaN,2019-02-05,NaN,1.0,Qtr 1,NaN
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1.0,2016.0,1.0,NaN,NaN,2018-12-06,NaN,1.0,Qtr 1,NaN
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1.0,2016.0,1.0,NaN,NaN,2018-04-18,NaN,1.0,Qtr 1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209831,UC,519094,2020-04-10,Macon,Transitional,Eligibility,I,Sherry Roberts-DS,2022-01-12,2022-01-19,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
209832,UC,528253,2020-09-12,Sumner,Competitive,IFSP,A,Taylor Lee,2022-05-06,2022-05-11,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
209833,UC,525460,2019-08-27,Sumner,Competitive,Notification,I,Sherry Roberts-DS,2022-03-29,NaT,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
209834,UC,528535,2022-02-08,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,2022-05-11,2022-05-27,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
209835,UC,514216,2021-02-04,Sumner,Competitive,IFSP,I,Dawn Reed,2021-11-05,2021-11-10,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

What is the rate of re-referral? 
How many children have multiple referrals (by year or by Point of Entry Office (POE))?

In [15]:
ref = teis_concat.groupby(['poe', 'fiscal_year'])['child_id'].count()

In [16]:
xy = teis_month[teis_month.duplicated(subset = "child_id", keep = False)]
reref = xy.groupby(["poe", "fiscal_year"])["child_id"].nunique()
together = (pd.merge(ref, reref, left_on=['poe', 'fiscal_year'], right_on=['poe', 'fiscal_year'], how='left')
            .rename(columns = {'child_id_x' : 'total_referrals', 'child_id_y' : 'total_re-referrals'}))
together['percent_referrals'] = (together['total_re-referrals']/together['total_referrals']) * 100
together

                 total_referrals  total_re-referrals  percent_referrals
poe fiscal_year
ET  2016-2017               3154                 585          18.547876
    2017-2018               3325                 794          23.879699
    2018-2019               3564                 879          24.663300
    2019-2020               3383                 891          26.337570
    2020-2021               3521                 842          23.913661
    2021-2022               3279                 549          16.742909
FT  2016-2017               1838                 348          18.933624
    2017-2018               2033                 513          25.233645
    2018-2019               2023                 518          25.605536
    2019-2020               1844                 453          24.566161
    2020-2021               1773                 390          21.996616
    2021-2022               1632                 271          16.605392
GN  2016-2017               2779                 500          17.992083
    2017-2018               2892                 660          22.821577
    2018-2019               3443                 708          20.563462
    2019-2020               3441                 863          25.079919
    2020-2021               3854                 992          25.739491
    2021-2022               3547                 666          18.776431
MD  2016-2017               2534                 510          20.126283
    2017-2018               2681                 738          27.527042
    2018-2019               3178                 825          25.959723
    2019-2020               2722                 735          27.002204
    2020-2021               3185                 698          21.915228
    2021-2022               2961                 512          17.291456
NW  2016-2017                961                 161          16.753382
    2017-2018               1067                 255          23.898782
    2018-2019               1103                 284          25.747960
    2019-2020               1140                 322          28.245614
    2020-2021               1185                 272          22.953586
    2021-2022               1050                 196          18.666667
SC  2016-2017               1960                 314          16.020408
    2017-2018               2160                 459          21.250000
    2018-2019               2522                 475          18.834259
    2019-2020               2539                 579          22.804254
    2020-2021               2796                 588          21.030043
    2021-2022               2555                 392          15.342466
SE  2016-2017               1010                 119          11.782178
    2017-2018               1224                 214          17.483660
    2018-2019               1610                 318          19.751553
    2019-2020               1539                 351          22.807018
    2020-2021               1629                 299          18.354819
    2021-2022               1563                 220          14.075496
SW  2016-2017                952                 148          15.546218
    2017-2018               1048                 234          22.328244
    2018-2019               1054                 258          24.478178
    2019-2020                981                 248          25.280326
    2020-2021               1022                 250          24.461840
    2021-2022                977                 170          17.400205
UC  2016-2017               1310                 171          13.053435
    2017-2018               1388                 260          18.731988
    2018-2019               1500                 291          19.400000
    2019-2020               1394                 352          25.251076
    2020-2021               1786                 386          21.612542
    2021-2022               1645                 290          17.629179

In [19]:
## or you can use the fiscal year.1 for a single year
teis_concat.groupby(['poe', 'fiscal_year.1'])['child_id'].count()

poe  fiscal_year.1
ET   2016.0           3154
     2017.0           3325
     2018.0           3564
     2019.0           3383
     2020.0           3521
     2021.0           3279
FT   2016.0           1838
     2017.0           2033
     2018.0           2023
     2019.0           1844
     2020.0           1773
     2021.0           1632
GN   2016.0           2779
     2017.0           2892
     2018.0           3443
     2019.0           3441
     2020.0           3854
     2021.0           3547
MD   2016.0           2534
     2017.0           2681
     2018.0           3178
     2019.0           2722
     2020.0           3185
     2021.0           2961
NW   2016.0            961
     2017.0           1067
     2018.0           1103
     2019.0           1140
     2020.0           1185
     2021.0           1050
SC   2016.0           1960
     2017.0           2160
     2018.0           2522
     2019.0           2539
     2020.0           2796
     2021.0           2555
SE   2016.0           1010
     2017.0           1224
     2018.0           1610
     2019.0           1539
     2020.0           1629
     2021.0           1563
SW   2016.0            952
     2017.0           1048
     2018.0           1054
     2019.0            981
     2020.0           1022
     2021.0            977
UC   2016.0           1310
     2017.0           1388
     2018.0           1500
     2019.0           1394
     2020.0           1786
     2021.0           1645
Name: child_id, dtype: int64

In [29]:
ref = teis_month.groupby(["poe"])["child_id"].count()
ref1 = teis_ref.groupby(['poe'])["child_id"].count()
xy = teis_month[teis_month.duplicated(subset = "child_id", keep = False)]
xy1 = teis_ref[teis_ref.duplicated(subset = "child_id", keep = False)]
reref = xy.groupby(["poe"])["child_id"].nunique()
reref1 = xy1.groupby(["poe"])["child_id"].nunique()
together = (pd.merge(ref, reref, left_on=['poe'], right_on=['poe'], how='left')
            .rename(columns = {'child_id_x' : 'Total Referrals', 'child_id_y' : 'Total Re-referrals'}))
together1 = (pd.merge(ref1, reref1, left_on=['poe'], right_on=['poe'], how='left')
            .rename(columns = {'child_id_x' : 'Total Referrals', 'child_id_y' : 'Total Re-referrals'}))
together['Percent Re-referral'] = (together['Total Re-referrals']/together['Total Referrals']) * 100
together1['Percent Re-referral'] = (together1['Total Re-referrals']/together1['Total Referrals']) * 100
together.reset_index()

  poe  Total Referrals  Total Re-referrals  Percent Re-referral
0  ET            20226                2916            14.417087
1  FT            11143                1585            14.224177
2  GN            19956                2936            14.712367
3  MD            17261                2582            14.958577
4  NW             6506                 960            14.755610
5  SC            14532                1950            13.418662
6  SE             8575                 980            11.428571
7  SW             6034                 875            14.501160
8  UC             9023                1227            13.598581

In [ ]:
## make a graph

In [34]:
sns.set_style('white')
m = sns.FacetGrid(together, col='poe')
m.map_dataframe(sns.scatterplot, x='', y='Total Referrals')
m.set_titles(col_template='{col_name}')

KeyError: 'poe'

In [23]:
#plt.plot(together['poe'], together['Percent Re-referral'], label= 'Percent Re-Referrals')
#plt.plot(together['poe'], together['Total Re-referrals'], label= 'Total Re-Referrals')
#plt.plot('poe', 'Total Referrals', label= 'Total Referrals')

KeyError: 'poe'