In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
teis1 = pd.read_excel('../data/TEIS_Referral_Data_for_NSS_pulled_7-1-22.xlsx')
teis2 = pd.read_excel('../data/TEIS_Referral_Data_for_NSS_Compiled_Monthly.xlsx')

In [3]:
teis1.head()

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,Referral Source Type Name,Initial Eligibility,Initial Eligibility Date,Initial IFSP Date,Latest IFSP Date,Exit Reason,Exit Date
0,ET,411812,2016-12-14,Blount,Transitional,Notification,I,Charity Decker,2016-12-16,NaT,DCS,NaN,NaT,NaT,NaT,Unable to contact,2016-12-29
1,ET,417398,2015-04-06,Knox,Transitional,Eligibility,I,Jackie Campbell,2017-04-24,2017-05-02,Parent,Ineligible,2017-05-16,NaT,NaT,Ineligible for Part C,2017-05-16
2,ET,419400,2016-03-04,Roane,Transitional,Notification,I,Kelly Brackney,2017-06-06,NaT,DCS,NaN,NaT,NaT,NaT,Parent decline,2017-06-30
3,ET,397571,2015-05-11,Knox,Transitional,Eligibility,I,Wendy Burton,2017-05-24,2017-06-13,Other,Ineligible,2017-06-16,NaT,NaT,Ineligible for Part C,2017-06-16
4,ET,404648,2015-09-23,Knox,Transitional,IFSP,I,Sarah Scott,2016-07-18,2016-07-28,Other,Eligible,2016-08-01,2016-08-16,2018-07-24,618 - Part B eligibility not determined,2018-09-21

In [4]:
teis2.head()

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification/ Referral Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1,2016,1,NaN,NaN,2017-08-09,NaN,1,Qtr 1,NaN
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1,2016,1,NaN,NaN,2016-07-31,1.0,1,Qtr 1,NaN
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1,2016,1,NaN,NaN,2019-02-05,NaN,1,Qtr 1,NaN
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1,2016,1,NaN,NaN,2018-12-06,NaN,1,Qtr 1,NaN
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1,2016,1,NaN,NaN,2018-04-18,NaN,1,Qtr 1,NaN

In [5]:
teis1

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,Referral Source Type Name,Initial Eligibility,Initial Eligibility Date,Initial IFSP Date,Latest IFSP Date,Exit Reason,Exit Date
0,ET,411812,2016-12-14,Blount,Transitional,Notification,I,Charity Decker,2016-12-16,NaT,DCS,NaN,NaT,NaT,NaT,Unable to contact,2016-12-29
1,ET,417398,2015-04-06,Knox,Transitional,Eligibility,I,Jackie Campbell,2017-04-24,2017-05-02,Parent,Ineligible,2017-05-16,NaT,NaT,Ineligible for Part C,2017-05-16
2,ET,419400,2016-03-04,Roane,Transitional,Notification,I,Kelly Brackney,2017-06-06,NaT,DCS,NaN,NaT,NaT,NaT,Parent decline,2017-06-30
3,ET,397571,2015-05-11,Knox,Transitional,Eligibility,I,Wendy Burton,2017-05-24,2017-06-13,Other,Ineligible,2017-06-16,NaT,NaT,Ineligible for Part C,2017-06-16
4,ET,404648,2015-09-23,Knox,Transitional,IFSP,I,Sarah Scott,2016-07-18,2016-07-28,Other,Eligible,2016-08-01,2016-08-16,2018-07-24,618 - Part B eligibility not determined,2018-09-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96575,UC,519094,2020-04-10,Macon,Transitional,Eligibility,I,Sherry Roberts-DS,2022-01-12,2022-01-19,PCP,Ineligible,2022-01-31,NaT,NaT,Ineligible for Part C,2022-01-31
96576,UC,528253,2020-09-12,Sumner,Competitive,IFSP,A,Taylor Lee,2022-05-06,2022-05-11,PCP,Eligible,2022-05-23,2022-05-31,2022-05-31,NaN,NaT
96577,UC,525460,2019-08-27,Sumner,Competitive,Notification,I,Sherry Roberts-DS,2022-03-29,NaT,PCP,NaN,NaT,NaT,NaT,Unable to contact,2022-04-11
96578,UC,528535,2022-02-08,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,2022-05-11,2022-05-27,Parent,NaN,NaT,NaT,NaT,NaN,NaT
96579,UC,514216,2021-02-04,Sumner,Competitive,IFSP,I,Dawn Reed,2021-11-05,2021-11-10,PCP,Eligible,2021-12-01,2021-12-07,2021-12-07,618 - Parent withdraw,2022-02-10

In [6]:
teis2.columns

Index(['POE', 'Child ID', 'DOB', 'County Name', 'County SES', 'Child Phase',
       'Active', 'Service Coordinator', 'Notification/ Referral Date',
       'Parent Consent Date', 'Referral Source Type Name',
       'Initial Eligibility', 'Initial Eligibility Date', 'Initial IFSP Date',
       'Latest IFSP Date', 'Exit Reason', 'Exit Date', 'Fiscal Year',
       'Notification Month', 'Tenn Region', 'Referral Count',
       'Evaluation Count', 'Eligibility Count', 'IFSP Count',
       'Service Coordinator Counter', 'Fiscal Year.1', 'Child Count',
       '2012 Child Count', '2013 Child Count', 'third DOB', 'Late Referral',
       'Qtr', ' QTR ', 'Referral Source Category'],
      dtype='object')

In [7]:
teis2 = teis2.rename(columns = {'Notification/ Referral Date' : 'Notification Date'})
teis1 = teis1.rename(columns = {'County SES ' : 'County SES'})

In [8]:
teis = pd.concat([teis2, teis1]).reset_index(drop=True)
teis

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1.0,2016.0,1.0,NaN,NaN,2017-08-09,NaN,1.0,Qtr 1,NaN
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2016-07-31,1.0,1.0,Qtr 1,NaN
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1.0,2016.0,1.0,NaN,NaN,2019-02-05,NaN,1.0,Qtr 1,NaN
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1.0,2016.0,1.0,NaN,NaN,2018-12-06,NaN,1.0,Qtr 1,NaN
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1.0,2016.0,1.0,NaN,NaN,2018-04-18,NaN,1.0,Qtr 1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209831,UC,519094,2020-04-10,Macon,Transitional,Eligibility,I,Sherry Roberts-DS,2022-01-12,2022-01-19,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
209832,UC,528253,2020-09-12,Sumner,Competitive,IFSP,A,Taylor Lee,2022-05-06,2022-05-11,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
209833,UC,525460,2019-08-27,Sumner,Competitive,Notification,I,Sherry Roberts-DS,2022-03-29,NaT,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
209834,UC,528535,2022-02-08,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,2022-05-11,2022-05-27,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
209835,UC,514216,2021-02-04,Sumner,Competitive,IFSP,I,Dawn Reed,2021-11-05,2021-11-10,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [ ]:
poe = {"FT" : "First Tennessee", "UC" : "Upper Cumberland" , "NW" : "Northwest" , "ET" : "East Tennessee", "GN" : "Greater Nashville" , "SW" : "Southwest" , "SE" : "Southeast" , "SC" : "South Central" , "MD" : "Memphis Delta"}
poe2 = {"FT", "UC", "NW", "ET", "GN", "SW", "SE", "SC", "MD"}

In [ ]:
#teis2['Notification/ Referral Date'] = pd.to_datetime(teis2['Notification/ Referral Date'])

In [ ]:
teis2reref = teis2.loc[:, teis2.value_counts(subset = 'Child ID') > 1]

In [9]:
ref = teis2.groupby(["POE"])["Child ID"].count()
ref1 = teis1.groupby(['POE'])["Child ID"].count()
ref

POE
ET    20226
FT    11143
GN    19956
MD    17261
NW     6506
SC    14532
SE     8575
SW     6034
UC     9023
Name: Child ID, dtype: int64

In [10]:
ref1

POE
ET    17123
FT     9450
GN    16630
MD    14365
NW     5468
SC    12789
SE     7655
SW     5205
UC     7895
Name: Child ID, dtype: int64

In [57]:
xy = teis2[teis2.duplicated(subset = "Child ID", keep = False)]

In [12]:
xy1 = teis1[teis1.duplicated(subset = "Child ID", keep = False)]

In [13]:
reref = xy.groupby(["POE"])["Child ID"].nunique()
reref

POE
ET    2916
FT    1585
GN    2936
MD    2582
NW     960
SC    1950
SE     980
SW     875
UC    1227
Name: Child ID, dtype: int64

In [14]:
reref1 = xy1.groupby(["POE"])["Child ID"].nunique()
reref1.head(5)

Series([], Name: Child ID, dtype: int64)

In [15]:
together = (pd.merge(ref, reref, left_on=['POE'], right_on=['POE'], how='left')
            .rename(columns = {'Child ID_x' : 'Total Referrals', 'Child ID_y' : 'Total Re-referrals'})) #.reset_index(drop = False))
together

     Total Referrals  Total Re-referrals
POE
ET             20226                2916
FT             11143                1585
GN             19956                2936
MD             17261                2582
NW              6506                 960
SC             14532                1950
SE              8575                 980
SW              6034                 875
UC              9023                1227

In [16]:
together1 = (pd.merge(ref1, reref1, left_on=['POE'], right_on=['POE'], how='left')
            .rename(columns = {'Child ID_x' : 'Total Referrals', 'Child ID_y' : 'Total Re-referrals'}))

In [17]:
together['Percent Re-referral'] = (together['Total Re-referrals']/together['Total Referrals']) * 100

In [18]:
together1['Percent Re-referral'] = (together1['Total Re-referrals']/together1['Total Referrals']) * 100

In [19]:
together

     Total Referrals  Total Re-referrals  Percent Re-referral
POE
ET             20226                2916            14.417087
FT             11143                1585            14.224177
GN             19956                2936            14.712367
MD             17261                2582            14.958577
NW              6506                 960            14.755610
SC             14532                1950            13.418662
SE              8575                 980            11.428571
SW              6034                 875            14.501160
UC              9023                1227            13.598581

In [20]:
together1

     Total Referrals  Total Re-referrals  Percent Re-referral
POE
ET             17123                 NaN                  NaN
FT              9450                 NaN                  NaN
GN             16630                 NaN                  NaN
MD             14365                 NaN                  NaN
NW              5468                 NaN                  NaN
SC             12789                 NaN                  NaN
SE              7655                 NaN                  NaN
SW              5205                 NaN                  NaN
UC              7895                 NaN                  NaN

## Be able to explain what the data says
i.e. - total referrals is just a count of the 'Child ID' by POE by year while total re-referrals is a count of the duplicated "Child ID's" by POE by year.  If the 'Child ID' was duplicated, in say, 2016-2017 with multiple referrals it would count as one, however if the same 'Child ID' popped up multiple times in 2017-2018 it would also be counted again as a re-referral during that time period.

In [21]:
teis2.head()

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1,2016,1,NaN,NaN,2017-08-09,NaN,1,Qtr 1,NaN
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1,2016,1,NaN,NaN,2016-07-31,1.0,1,Qtr 1,NaN
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1,2016,1,NaN,NaN,2019-02-05,NaN,1,Qtr 1,NaN
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1,2016,1,NaN,NaN,2018-12-06,NaN,1,Qtr 1,NaN
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1,2016,1,NaN,NaN,2018-04-18,NaN,1,Qtr 1,NaN

In [39]:
teis2['Successful'] = ((teis2['Child Phase'] == "IFSP") | (teis2['Initial IFSP Date'].notnull()))
teis1['Successful'] = ((teis1['Child Phase'] == "IFSP") | (teis1['Initial IFSP Date'].notnull()))

In [23]:
teis2

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,...,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category,Successful
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,2016,1,NaN,NaN,2017-08-09,NaN,1,Qtr 1,NaN,False
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,2016,1,NaN,NaN,2016-07-31,1.0,1,Qtr 1,NaN,False
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,2016,1,NaN,NaN,2019-02-05,NaN,1,Qtr 1,NaN,False
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,2016,1,NaN,NaN,2018-12-06,NaN,1,Qtr 1,NaN,True
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,2016,1,NaN,NaN,2018-04-18,NaN,1,Qtr 1,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113251,UC,528759,2021-04-07,Sumner,Competitive,Evaluation,A,Sherry Roberts-DS,2022-05-16,2022-05-26,...,2021,1,NaN,NaN,2024-04-07,NaN,4,Qtr 4,NaN,False
113252,UC,528534,2022-03-13,Sumner,Competitive,IFSP,A,Robyn Hogan,2022-05-11,2022-05-23,...,2021,1,NaN,NaN,2025-03-13,NaN,4,Qtr 4,NaN,True
113253,UC,528430,2022-01-05,Cumberland,Transitional,Eligibility,A,Lisa Davis,2022-05-10,2022-05-18,...,2021,1,NaN,NaN,2025-01-05,NaN,4,Qtr 4,NaN,False
113254,UC,528253,2020-09-12,Sumner,Competitive,IFSP,A,Taylor Lee,2022-05-06,2022-05-11,...,2021,1,NaN,NaN,2023-09-12,NaN,4,Qtr 4,NaN,True
113255,UC,528535,2022-02-08,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,2022-05-11,2022-05-27,...,2021,1,NaN,NaN,2025-02-08,NaN,4,Qtr 4,NaN,False

In [40]:
total_referrals = teis2.groupby(['Referral Source Type Name'])['Successful'].count()
total_referrals1 = teis1.groupby(['Referral Source Type Name'])['Successful'].count()
total_referrals.head(25)

Referral Source Type Name
CAPTA                                2
Child Care provider                421
Community/Child Find Activity      385
DCS                              25346
DHS                                 13
DMRS                                 1
Dept. of Health                   3631
EIRA                               343
Early Head Start/Head Start       1014
Family and Friends                 507
Foster Parent                      413
Hospital                          7184
LEA                                 15
NHS                                219
NICU                              3232
OT                                  82
Other                             2561
Other Health Care Provider        2256
PCP                              42824
PICU                                26
PT                                 609
Parent                           21530
Speech Therapist                   638
TIPS                                 4
Name: Successful, dtype: int64

In [41]:
total_success_referrals = teis2.groupby(['Referral Source Type Name'])['Successful'].sum()
total_success_referrals1 = teis1.groupby(['Referral Source Type Name'])['Successful'].sum()
total_success_referrals.head(25)

Referral Source Type Name
CAPTA                               0
Child Care provider                40
Community/Child Find Activity      26
DCS                               728
DHS                                 0
DMRS                                1
Dept. of Health                   212
EIRA                               20
Early Head Start/Head Start        60
Family and Friends                 55
Foster Parent                      72
Hospital                          422
LEA                                 0
NHS                                15
NICU                              184
OT                                  9
Other                             221
Other Health Care Provider        171
PCP                              3127
PICU                                3
PT                                 85
Parent                           2494
Speech Therapist                   64
TIPS                                1
Name: Successful, dtype: int64

In [42]:
ref_together = (pd.merge(total_referrals, total_success_referrals, left_on=['Referral Source Type Name'], right_on=['Referral Source Type Name'], how='left')
            .rename(columns = {'Successful_x' : 'Total Referrals', 'Successful_y' : 'Total Successful Referrals'}))
ref_together1 = (pd.merge(total_referrals1, total_success_referrals1, left_on=['Referral Source Type Name'], right_on=['Referral Source Type Name'], how='left')
            .rename(columns = {'Successful_x' : 'Total Referrals', 'Successful_y' : 'Total Successful Referrals'}))
ref_together

                               Total Referrals  Total Successful Referrals
Referral Source Type Name
CAPTA                                        2                           0
Child Care provider                        421                          40
Community/Child Find Activity              385                          26
DCS                                      25346                         728
DHS                                         13                           0
DMRS                                         1                           1
Dept. of Health                           3631                         212
EIRA                                       343                          20
Early Head Start/Head Start               1014                          60
Family and Friends                         507                          55
Foster Parent                              413                          72
Hospital                                  7184                         422
LEA                                         15                           0
NHS                                        219                          15
NICU                                      3232                         184
OT                                          82                           9
Other                                     2561                         221
Other Health Care Provider                2256                         171
PCP                                      42824                        3127
PICU                                        26                           3
PT                                         609                          85
Parent                                   21530                        2494
Speech Therapist                           638                          64
TIPS                                         4                           1

In [63]:
ref_together['Percent Success'] = (ref_together['Total Successful Referrals']/ref_together['Total Referrals']) * 100
ref_together1['Percent Success'] = (ref_together1['Total Successful Referrals']/ref_together1['Total Referrals']) * 100
ref_together.head(24)

,Total Referrals,Total Successful Referrals,Percent Success
Referral Source Type Name,,,
CAPTA,2,0,0.000000
Child Care provider,421,40,9.501188
Community/Child Find Activity,385,26,6.753247
DCS,25346,728,2.872248
DHS,13,0,0.000000
DMRS,1,1,100.000000
Dept. of Health,3631,212,5.838612
EIRA,343,20,5.830904
Early Head Start/Head Start,1014,60,5.917160
Family and Friends,507,55,10.848126
Foster Parent,413,72,17.433414
Hospital,7184,422,5.874165
LEA,15,0,0.000000
NHS,219,15,6.849315
NICU,3232,184,5.693069
OT,82,9,10.975610
Other,2561,221,8.629442
Other Health Care Provider,2256,171,7.579787
PCP,42824,3127,7.301980
PICU,26,3,11.538462
PT,609,85,13.957307
Parent,21530,2494,11.583837
Speech Therapist,638,64,10.031348
TIPS,4,1,25.000000

## Be able to explain data

In [58]:
teis1[teis1['Child Phase'] == "IFSP"]

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,Referral Source Type Name,Initial Eligibility,Initial Eligibility Date,Initial IFSP Date,Latest IFSP Date,Exit Reason,Exit Date,DOB/Exit Diff,Successful
4,ET,404648,2015-09-23,Knox,Transitional,IFSP,I,Sarah Scott,2016-07-18,2016-07-28,Other,Eligible,2016-08-01,2016-08-16,2018-07-24,618 - Part B eligibility not determined,2018-09-21,1094.0,True
8,ET,409028,2016-09-29,Sevier,Transitional,IFSP,I,Tonia Hodsden,2016-10-18,2016-11-01,DCS,Eligible,2016-11-03,2016-11-22,2017-04-25,618 - Parent withdraw,2017-06-26,270.0,True
14,ET,414869,2016-12-06,Knox,Transitional,IFSP,I,Ashley Jackson,2017-02-23,2017-03-20,DCS,Eligible,2017-03-23,2017-04-03,2017-04-03,618 - Attempts to contact unsuccessful,2018-11-29,723.0,True
18,ET,415371,2016-02-03,Union,At-Risk,IFSP,I,Sarah Scott,2017-05-26,2017-06-14,PCP,Eligible,2017-06-16,2017-07-24,NaT,618 - Attempts to contact unsuccessful,2018-02-15,743.0,True
25,ET,408626,2014-05-11,Knox,Transitional,IFSP,I,Leslie Milligan,2016-10-06,2016-10-21,Parent,Eligible,2016-11-10,2016-11-18,2017-04-05,618 - Part B eligibility not determined,2017-05-10,1095.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96572,UC,523485,2019-10-23,Sumner,Competitive,IFSP,A,Miriam Espinosa,2022-03-02,2022-03-10,PCP,Eligible,2022-05-11,2022-05-18,2022-06-08,NaN,NaT,NaN,True
96573,UC,528430,2022-01-05,Cumberland,Transitional,IFSP,A,Lisa Davis,2022-05-10,2022-05-18,Parent,Eligible,2022-06-07,2022-06-21,2022-06-21,NaN,NaT,NaN,True
96574,UC,515685,2019-08-14,Sumner,Competitive,IFSP,A,Cindy Willard,2021-12-01,2021-12-07,Parent,Eligible,2022-01-20,2022-01-26,2022-06-21,NaN,NaT,NaN,True
96576,UC,528253,2020-09-12,Sumner,Competitive,IFSP,A,Taylor Lee,2022-05-06,2022-05-11,PCP,Eligible,2022-05-23,2022-05-31,2022-05-31,NaN,NaT,NaN,True
96579,UC,514216,2021-02-04,Sumner,Competitive,IFSP,I,Dawn Reed,2021-11-05,2021-11-10,PCP,Eligible,2021-12-01,2021-12-07,2021-12-07,618 - Parent withdraw,2022-02-10,371.0,True

In [29]:
teis1['DOB/Exit Diff'] = (teis1['Exit Date'] - teis1['DOB']).dt.days
teis1

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,Referral Source Type Name,Initial Eligibility,Initial Eligibility Date,Initial IFSP Date,Latest IFSP Date,Exit Reason,Exit Date,DOB/Exit Diff
0,ET,411812,2016-12-14,Blount,Transitional,Notification,I,Charity Decker,2016-12-16,NaT,DCS,NaN,NaT,NaT,NaT,Unable to contact,2016-12-29,15.0
1,ET,417398,2015-04-06,Knox,Transitional,Eligibility,I,Jackie Campbell,2017-04-24,2017-05-02,Parent,Ineligible,2017-05-16,NaT,NaT,Ineligible for Part C,2017-05-16,771.0
2,ET,419400,2016-03-04,Roane,Transitional,Notification,I,Kelly Brackney,2017-06-06,NaT,DCS,NaN,NaT,NaT,NaT,Parent decline,2017-06-30,483.0
3,ET,397571,2015-05-11,Knox,Transitional,Eligibility,I,Wendy Burton,2017-05-24,2017-06-13,Other,Ineligible,2017-06-16,NaT,NaT,Ineligible for Part C,2017-06-16,767.0
4,ET,404648,2015-09-23,Knox,Transitional,IFSP,I,Sarah Scott,2016-07-18,2016-07-28,Other,Eligible,2016-08-01,2016-08-16,2018-07-24,618 - Part B eligibility not determined,2018-09-21,1094.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96575,UC,519094,2020-04-10,Macon,Transitional,Eligibility,I,Sherry Roberts-DS,2022-01-12,2022-01-19,PCP,Ineligible,2022-01-31,NaT,NaT,Ineligible for Part C,2022-01-31,661.0
96576,UC,528253,2020-09-12,Sumner,Competitive,IFSP,A,Taylor Lee,2022-05-06,2022-05-11,PCP,Eligible,2022-05-23,2022-05-31,2022-05-31,NaN,NaT,NaN
96577,UC,525460,2019-08-27,Sumner,Competitive,Notification,I,Sherry Roberts-DS,2022-03-29,NaT,PCP,NaN,NaT,NaT,NaT,Unable to contact,2022-04-11,958.0
96578,UC,528535,2022-02-08,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,2022-05-11,2022-05-27,Parent,NaN,NaT,NaT,NaT,NaN,NaT,NaN
96579,UC,514216,2021-02-04,Sumner,Competitive,IFSP,I,Dawn Reed,2021-11-05,2021-11-10,PCP,Eligible,2021-12-01,2021-12-07,2021-12-07,618 - Parent withdraw,2022-02-10,371.0

In [59]:
teis2 = teis1[teis1['DOB/Exit Diff'] < 1094]

In [60]:
num_5_start = pd.DataFrame(teis2.groupby(["POE", "Service Coordinator"])['DOB/Exit Diff'].count())
num_5_start

                         DOB/Exit Diff
POE Service Coordinator
ET  Aaron Collins                  111
    Adrianne McPeake                54
    Amanda Blair                    30
    Amanda Cooke                   192
    Amanda Cooke - PC                9
...                                ...
UC  Nicole Smith                   180
    Sherry Roberts-DS             2052
    Steven Scarlett                259
    Taylor Lee                     175
    Taylor Watson                   55

[397 rows x 1 columns]

In [61]:
top10_by_region = num_5_start.groupby(["POE", "Service Coordinator"])['DOB/Exit Diff'].max(10)

In [62]:
top10_by_region.head(10)

POE  Service Coordinator
ET   Aaron Collins          111
     Adrianne McPeake        54
     Amanda Blair            30
     Amanda Cooke           192
     Amanda Cooke - PC        9
     Amanda Prewitt           7
     Andrea Cooper          255
     Andrea Mathews          95
     Ashley Jackson          78
     Brandi Mohr            264
Name: DOB/Exit Diff, dtype: int64